<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event - {{info["name"]}}</title>
    <link rel="stylesheet" href="{{ url_for('events.static', filename='css/style.css') }}">
    <script src="{{ url_for("events.static", filename="js/event.js")}}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
</head>

<!-- Info conatins: -->
<!-- name	agelimit	starttime	endtime	  desciption	attendee_limit	attendee_no	colour	location	public -->

<body onload="ChangeColour()">
    <header id="navbar">
        <div id="home-box">
            <h2> <a href="{{ url_for("home.home") }}"> Home </a></h2>
        </div>

        <div id="page-name">
            <h1 id="title">Edit Event - {{info["name"]}}</h1>
        </div>

        <div id="logout-box">
            <h2> <a href="{{ url_for("dash.HostDashboard") }}"> Dashboard </a></h2>
        </div>

    </header>
    
    <main>
        
        {% for message in get_flashed_messages() %}
        <h2 class="server-message">{{ message }}</h2>
        {% endfor %}


        <div class="form-container" id="event-details-container">
            <h1 class="section-header">Event Details</h1>
            <form method="post">
                <label for="name">Name: </label>
                <input type="text" name="name" value="{{info["name"]}}" required> <br>
                <label for="agelimit">Agelimit: </label>
                <input type="number" name="agelimit" value="{{info["agelimit"]}}" required> <br>
                <label for="starttime">Start Time: </label>
                <input type="datetime-local" name="starttime" value="{{info["starttime"]}}" required> <br>
                <label for="endtime">End Time: </label>
                <input type="datetime-local" name="endtime" value="{{info["endtime"]}}" required> <br>
                <label for="description">Description:</label> <br>
                <textarea name="description" id="description-box" cols="100" rows="10">{{info["description"]}}</textarea> <br>
                <label for="attendee_limit">Attendee Limit: </label>
                <input type="number" name="attendee_limit" value="{{info["attendee_limit"]}}"> <br>
                <label for="colour">Accent Colour: </label>
                <input type="color" name="colour" id="colour" value="{{info["colour"]}}" required oninput="ChangeColour()"> <br>
                <label for="location">Location: </label>
                <input type="text" name="location" value="{{info["location"]}}" required> <br>
                <label for="type">Type: </label>
                <select name="type" id="type" value="{{info["type"]}}">
                    <option value="Conference">Conference</option>
                    <option value="Seminar">Seminar</option>
                    <option value="Concert" selected>Concert</option>
                    <option value="Party">Party</option>
                    <option value="Show">Show</option>
                    <option value="Food & Drink">Food & Drink</option>
                    <option value="Other">Other</option>
                </select> <br>

                <!-- 
                    * Conferences
                    * Seminars
                    * Concerts
                    * Parties
                    * Shows
                    * Food & Drink
                    * Other 
                -->

                <label for="public">Public </label> 
                <input type="checkbox" name="public" id = "public_checkbox"> <br>
                <button>Save Changes</button>
            </form>
        </div>

        <form action="{{url_for("events.CancelEvent", id=event_id)}}" method="post" onsubmit="return confirm('Are you sure you wil to delete this event?\nThis is permanent')">
            <button id="delete-account">Cancel</button>
        </form>

    </main>


    <script>
        public_checkbox = document.getElementById("public_checkbox")

        console.log("{{info['public']}}")

        if ("{{ info['public'] }}" == "False") {
            public_checkbox.checked = false;
        } else {
            public_checkbox.checked = true;
        }

        type_select = document.getElementById("type")
        let current = "{{ info['type'] }}"
        
        if (current.includes("Food")) {
            current = "Food & Drink"
        }

        console.log(current)

        for (let i = 0; i < type_select.options.length; i++){
            if (type_select[i].text.includes(current)) {
                type_select.selectedIndex = i
            }
        }

    </script>
</body>
</html>