<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{info["name"]}}</title>
    <link rel="stylesheet" href="{{ url_for('events.static', filename='css/style.css') }}">
    <script src="{{ url_for("events.static", filename="js/event.js")}}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
</head>

<!-- Info conatins: -->
<!-- name	agelimit	starttime	endtime	  desciption	attendee_limit	attendee_no	colour	location	public -->

<body onload="ChangeEventColour()" class="{{info["colour"]}}">
    <header id="navbar">
        <div id="home-box">
            <h2> <a href="{{ url_for("home.home") }}"> Home </a></h2>
        </div>

        <div id="page-name">
            <h1 id="title">{{info["name"]}}</h1>
        </div>

        <div id="logout-box">
            <h2> <a href="{{ url_for("auth.sign_in") }}"> Sign In </a></h2>
        </div>

    </header>
    
    <main>
        
        {% for message in get_flashed_messages() %}
        <h2 class="server-message">{{ message }}</h2>
        {% endfor %}

        <!-- {{info}} -->

        <section id="event-info" class="event-info box">
            {% if info["public"]: %}
            <h2 class="public">Public Event</h2>
            {%else:%}
            <h2 class="public">Private Event</h2>
            {%endif%}

            <h3 class="places">{{info["place_left"]}} Places Left</h2>

            {% if info["agelimit"]: %}
            <h3 class="agelimit">Age-Limit: {{info["agelimit"]}} Years Old</h3>
            {% endif %}
            
            <label for="starttime">Starts</label>
            <input name="starttime" type="datetime-local" class="starttime time" value="{{info["starttime"]}}" readonly> <br>
            <label for="endtime">Ends</label>
            <input name="endtime" type="datetime-local" class="endtime time" value="{{info["endtime"]}}" readonly> <br>
            <h3 class="location">Location: {{info["location"]}}</h3>
            <h3 class="host">Host: {{info["host"]}}</h3>
            <h3 class="type">Type: {{info["type"]}}</h3>
            <h3>Description</h3>
            <p class="description">{{info["description"]}}</p>

            <a href="{{url_for( "events.BookEvent", event_id=info["eventID"] ) }}"><button id="book-btn">Book</button></a>
            
        </section>
        

    </main>

</body>
</html>