<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Booking System</title>
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
</head>
<body>
    <header>
        <a href="{{url_for("dash.GuestDashboard")}}">
            <div id="account-box">
                <img id="account-img" src="{{ url_for("home.static", filename="images/account.svg")}} " alt="Account"/>
            </div>
        </a>

        <h1 id="title">Booking System</h1>
    </header>
    <main>
        <form method="get">
            <input type="text" name="search-term" id="search" required>
            <button>
                <img id="search-icon" src="{{ url_for("home.static", filename="images/search.svg")}} " alt="Search"/>
            </button>
        </form>

        <section id="events">
            {% for message in get_flashed_messages() %}
                <h1 class="message">{{message}}</h1>
            {%endfor%}
            
            {% if events: %}
                {% for event in events: %}
                    <div class="event">
                        <a href="{{url_for("events.eventDetails", event_id=event["id"])}}">
                            <h2 class="event-title">{{event["name"]}}</h2>
                        </a>
                    </div>
                {%endfor%}
            {%endif%}
        </section>





    </main>
</body>
</html>