:root {
    height: 100%;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    font-size: medium;
}

div {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1% auto;
    padding: 20px;

    border: 5px solid grey;
    border-radius: 10vh;
    box-shadow: 5px 5px black;
}

form input {
    width: 90%;
    height: 20%;
    font-size: 5vh;
    margin: 1vh;
}

form button {
    width: 90%;
    height: 5vh;
    margin: 1vh;
}

form select {
    width: 90%;
    height: 5vh;
    margin: 1vh;
}
