<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host Dashboard - {{ info["name"] }}</title>
    <link rel="stylesheet" href="{{ url_for('dash.static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <script src="{{ url_for("dash.static", filename="js/dash.js")}}"></script>

</head>
<body>
    <div id="navbar">
        <div id="home-box">
            <h2> <a href="{{ url_for("home.home") }}"> Home </a></h2>
        </div>

        <div id="page-name">
            <h1 id="title">Dashboard - {{info["name"]}}</h1>
        </div>

        <div id="logout-box">
            <h2> <a href="{{ url_for("auth.sign_out") }}"> Sign Out </a></h2>
        </div>

    </div>
    
    <main>
        
        {% for message in get_flashed_messages() %}
        <h2 class="server-message">{{ message }}</h2>
        {% endfor %}

        <div class="form-container">
            <h1 class="section-header">Host Details</h1>
            <form method="post">
                <label for="name">Host Name: </label> <br>
                <input type="text" name="name" value="{{info["name"]}}" required> <br>
                <label for="colour">Accent Colour: </label>
                <input type="color" name="colour" value="{{info["colour"]}}">
                <label for="location">Location/Address: </label>
                <input type="text" name="location" value="{{info["location"]}}">
                <label for="description">Description:</label>
                <textarea name="description" id="description-box" cols="100" rows="10">{{info["description"]}}</textarea>
                <button>Save Changes</button>
            </form>
        </div>

        <div class="form-container">
            <h1 class="section-header">Security: Change your Password</h1>
            <form method="post" action="{{url_for("dash.ChangePassword")}}">
                <label for="old-password">Old Password: </label>
                <input type="password" name="old-password" required> <br>
                <label for="new-password">New Password: </label>
                <input type="password" name="new-password" id="new-password" required oninput="CheckConfirmPassword()"> <br>
                <label for="confirm-password">Confirm Password: </label>
                <input type="password" name="confirm-password" id="confirm-password" required oninput="CheckConfirmPassword()"> <br>
                <button id="password-submit">Save Changes</button>
            </form>
        </div>

        <div class="form-container" id="events-container">
            <h1 class="section-header">My Events</h1>
            <a href="{{url_for("events.CreateEvent")}}"><button id="create-event-btn">Create Event</button></a>
            {% if events: %}
            <table id="events-table">
                
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Starts</th>
                    <th>Ends</th>
                    <th>Age Limit</th>
                    <th>Attendee Limit</th>
                    <th>Attendees</th>
                    <th>Colour</th>
                    <th>Location</th>
                    <th>Edit Event</th>
                </tr>

                {% for event in events %}
                 <tr class="event-row">
                    <td class="id">{{event["event-id"]}}</td>
                    <td class="name">{{event["name"]}}</td>
                    <td class="start-time">{{event["start-time"]}}</td>
                    <td class="end-time">{{event["end-time"]}}</td>
                    <td class="age-limit">{{event["age-limit"]}}</td>
                    <td class="attendee-limit">{{event["attendee-limit"]}}</td>
                    <td class="attendees"><a href="">{{event["attendees"]}}</a></td>
                    <!-- Add link to attendees page (yunno, once it exists... ) -->
                    <td class="colour {{event["colour"]}}"></td> 
                    <!-- This will rely on Javascript to work -->
                    <td class="location"></td> 
                    <td><a href=""><button class="edit-event-btn">Edit</button></a></td>
                    <!-- Add link to edit event view -->
                </tr>
                {% endfor %}
                
            </table> 
            {% else: %}
            <h3>Events you create will appear here</h3>
            {% endif %}
        </div>


        <form action="{{url_for("dash.DeleteAccount")}}" method="post" onsubmit="return confirm('Are you sure you wil to delete you account?\nThis is permanent')">
            <button id="delete-account">Delete Account</button>
        </form>

    </main>
</body>
</html>