<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/auth.css") }}">
    
    <script src="{{ url_for('static', filename="js/auth.js") }}"></script>
    
    <title>Register</title>
</head>

<body>
    
    <div>
        
        <h1 id="title">Register your New Account</h1>
        <form method="post">
            <input type="email" name="email" id="user_email" placeholder="Email" required>
            <input type="password" name="password" id="user_pwd" placeholder="Password" required oninput="CheckConfirmPassword()">
            <input type="password" name="confirm_password" id="confirm_pwd" placeholder="Confirm Password" required oninput="CheckConfirmPassword()">
            <button id="register_submit" disabled="true">Submit</button>

        </form>
        <h3 id="register-link">
            Already have an account? <a href="{{ url_for("auth.sign_in") }}">Sign In</a> 
        </h3>

    </div>

    </body>
</html>